.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
  padding: 30px;
  margin: 25px auto;
  max-width: calc(340px * 3 + 30px * 4);
  border-radius: 25px;
  background: #F6F6F6;
}
